# Arquivos gerados acidentalmente na raiz (projeto real está em /app)
node_modules/
package.json
package-lock.json
tsconfig.json
app.json
eas.json

# IDE
.idea/

# Pasta de build antiga
app-mastergreen/

# Expo
.expo/